* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	cursor: default;
}
a {
	text-decoration: none;
	color: #fff;
}
ul,
ol,
li {
	list-style: none;
}

/* navbar */
#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: black;
	color: white;
	padding: 16px;
}

.navbar__logo img {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

.navbar__logo a {
	display: block;
	width: 50px;
	height: 50px;
	float: right;
	line-height: 50px;
	font-size: 20px;
}

.navbar__menu {
	display: flex;
}

.navbar__menu__item {
	padding: 8px 12px;
	margin: 0 4px;
	cursor: pointer;
	border-radius: 4px;
}

.navbar__menu__item.active {
	border: 1px solid #fff;
	border-radius: 4px;
}

.navbar__menu__item:hover {
	background: #fff;
	color: #000;
}

/* home */

#home {
	background: url('imgs/bg/1.png') no-repeat bottom/cover;
	padding: 40px;
	text-align: center;
}

.home__avatar {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid #aaa;
	margin-bottom: 20px;
}
.home__title {
	color: #fff;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 28px;
}

.home__description {
	color: #ddd;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 40px;
}

.home__contact {
	font-size: 18px;
	padding: 8px 12px;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	background: transparent;
	cursor: pointer;
}

.home__contact:hover {
	background: #fff;
	color: #000;
}

.section {
	padding: 50px;
	text-align: center;
}

.section__container {
	max-width: 1180px;
	margin: 0 auto;
}

.section h1 {
	font-size: 28px;
	margin-bottom: 20px;
}
.section p {
	font-size: 18px;
}

/* about  */
.about__majors {
	display: flex;
	justify-content: space-around;
	margin: 80px 0px;
}

.major__icon {
	width: 170px;
	height: 170px;
	background: rgba(238, 238, 238, 0.541);
	font-size: 70px;
	line-height: 170px;
	border: 1px solid #ccc;
	border-radius: 50%;
	color: #444;
	margin: 0 auto;
	margin-bottom: 20px;
}

.major__icon i {
	transition: all 0.3s;
}
.major__icon:hover i {
	color: darkviolet;
	transform: scale(1.2);
}

.major__title {
	color: #000;
	margin-bottom: 10px;
	font-size: 20px;
}
.major__description {
	color: #444;
	margin-bottom: 10px;
	font: 16px;
}

.school {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.school img,
.school i {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	font-size: 30px;
	line-height: 50px;
}

.school__description p {
	text-align: left;
	font-size: 12px;
}

/* Skills */

#skills {
	background: #efefef;
}

#skills p {
	margin-bottom: 40px;
}

.skillset_title {
	color: #fff;
	margin-bottom: 10px;
}
.skillset {
	display: flex;
	justify-content: center;
	background: #ccc;
	color: #444;
}

.skillset__left {
	flex-basis: 60%;
	padding: 40px;
}
.skill {
	margin-bottom: 8px;
}

.skill__descrition {
	display: flex;
	justify-content: space-between;
}
.skill__bar {
	width: 100%;
	height: 3px;
	background: gray;
}
.skill__value {
	height: 3px;
	background: yellow;
}
.skillset__right {
	flex-basis: 40%;
}

.tools {
	background: #aaa;
}

.etc {
	background: #888;
}

.tools,
.etc {
	padding: 20px;
}

/* work */
.work__categories{
	margin: 40px;
}
.category__btn{
	border: 1px solid #fff;
	border-radius: 4px;
	font-size: 16px;
	padding: 8px 40px;
}

.category__btn.active,
.category__btn:hover{
	background: #000;
	color: #fff;
}
.category__count{
	background-color: orange;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;

	position: relative;
	top: -20px;
	opacity: 0;
	transition: all 0.3s ease-in;
}

.category__btn.active .category__count,
.category__btn:hover .category__count{
	opacity: 1;
}

.work__projects{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
.project {
	width: calc(1160px / 4);
	height: 250px;
	margin: 2px;
	background-color: #efefef;
	position: relative;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project__img{
	max-width: 100%;
	max-height: 100%;

}

.project__description{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: all 0.3s ease-in;
	transform: rotateY(90deg);
}

.project:hover .project__description {
	opacity: 0.8;
	transform: rotateY(0deg);
}
.project__description h3{
	color: #fff;
}

.project__description h3::after{
	content: "";
	display: block;
	width: 25px;
	height: 2px;
	background: #fff;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 10px 0px;
}

/* Testimonial */

#testimonials{
	background: #ddd;

}
.testimonials{
	margin: 40px;
	max-width: 1180px;
	margin: 0 auto;
}

.testimonial{
	display: flex;
	align-items: center;
	margin: 32px 0;

}

.testimonial__avartar{
	width: 150px;
	height: 150px;
	border-radius: 50%;

}
.testimonial__avartar:first-child{
	margin-right: 10px;
}
.testimonial__avartar:last-child{
	margin-left: 10px;
}


.testimonial__speech-bubble{
	padding: 20px;
	background: #fff;
	border: 4px;
	border-radius: 4px;
}

.testimonial__speech-bubble p{
	color: lightgray;
	margin-bottom: 5px;


}
.testimonial__speech-bubble a{color:#000;}

/* contact */

#contact{
	background: #111;
	color: #fff;
}

.contact__title{
	margin: 40px 0;

}

.contact__email{
	font-size: 20px;
	font-weight: 200;
}
.contact__links{
	font-size: 30px;
	margin: 30px;
	transition: all 0.3s ease-in;

}


.contact__links i:hover {
	transform: scale(1.1);
	color: violet;
}
.contact__rights{
	font-size: 20px;
}